# Random Data
https://pypi.org/project/Faker/

Oprettelse af følgende data filer:

- Customeres
- Employees
- Orders
- Products - 20 produkter fast defineret

## Faker
### install Faker
pip install Faker

## XlsxWriter
pip install XlsxWriter

In [ ]:
# Import af moduler
from faker import Factory
import pandas as pd
import random
import xlsxwriter

In [ ]:
# Use Faker
fake = Factory.create()

## Setup
Du kan her vælge hvor mange; customeres, sales og employees du vil have i dit datasæt.
Bemærk dog at hvis du sætter tallet *meget* højt vil det tage relativ lang tid at generer data.

I hvilket format du vil eksportere data.

In [ ]:
# Antal
no_customeres = 20
no_sales = 1000
no_employee = 10

# Eksport typer
exp_csv = True           # Gem til CSV
exp_excel = True         # Gem til én Excel fil
exp_sql_script = True    # Gem til SQL Scripts
exp_mysql_azure = True   # Gem direkte til en SQL Server

In [ ]:
# Connection data
# Hvis der skal eksporteres til en Azure databasse
if exp_mysql_azure:
    from configparser import ConfigParser

    # Læs config file - database.cfg
    parser = ConfigParser()
    _ = parser.read('database.cfg')

    # Data
    username = parser.get('database', 'username')
    password = parser.get('database', 'password')
    host = parser.get('database', 'host')
    port = parser.get('database', 'port')
    db_name = parser.get('database', 'db_name')

## Customers

In [ ]:
# Customers Dataframe
df_customers = pd.DataFrame(columns=[
    'customer_id',
    'first_name',
    'last_name',
    'address',
    'postcode',
    'city',
    'country',
    'email',
    'date_of_birth'])

In [ ]:
# Tilføj Customers
for i in range(no_customeres):
    data = [
        i+1,
        fake.first_name(),
        fake.last_name(),  
        fake.address(),
        fake.postcode(),    
        fake.city(),
        fake.country(),
        fake.ascii_safe_email(),
        fake.date_of_birth(minimum_age = 19, maximum_age = 67)]
    df_customers.loc[i] = [item for item in data]

In [ ]:
df_customers.head()

## Order

In [ ]:
## Order Dataframe
df_order = pd.DataFrame(columns=[
    'order_id',
    'product_id',
    'quantity',
    'customer_id',
    'orderdate',
    'employee_id'])

In [ ]:
# Tilføj Order
for i in range(no_sales):
    data = [
        fake.random_int(10000, 15000),
        fake.random_int(0, 20),
        fake.random_int(1, 100),
        fake.random_int(0, 200),    
        fake.date_between(start_date='-3y', end_date='now'),
        fake.random_int(1, no_employee)]
    df_order.loc[i] = [item for item in data]

In [ ]:
# Tilføj Deliverydate
df_order['deliverydate'] = df_order['orderdate'] + pd.DateOffset(days=fake.random_int(0, 12))

In [ ]:
#df_order.head()
df_order.tail()

## Employee

In [ ]:
## Employee Dataframe
df_employee = pd.DataFrame(columns=[
    'employee_id',
    'firstname',
    'lastname',
    'date_of_birth'])

In [ ]:
# Tilføj Employee
for i in range(no_employee):
    data = [
        i+1,
        fake.first_name(),
        fake.last_name(),  
        fake.date_of_birth(minimum_age = 19, maximum_age = 67)]
    df_employee.loc[i] = [item for item in data]

In [ ]:
df_employee

## Products

In [ ]:
# Liste af produkter
produkt_data = [
    [1 , 'Chai', 26.50, 104, 50, 'standard'],
    [2 , 'Chef Anton Cajun Seasoning', 109.00, 53, 25, 'luxury'],
    [3 , 'Chef Anton Gumbo Mix', 87.75, 34, 20, 'luxury'],
    [4 , 'Tofu', 15.00, 20, 17.75, 'standard'],
    [5 , 'Sir Rodney Marmalade', 99.75, 28, 30, 'luxury'],
    [6 , 'Sir Rodney Scones', 47.75, 60, 80, 'luxury'],
    [7 , 'Geitost', 72.25, 230, 100, 'luxury'],
    [8 , 'Gravad lax', 99.00, 147, 100, 'luxury'],
    [9 , 'Cte de Blaye', 56.50, 0, 20, 'standard'],
    [10 , 'Chartreuse verte', 29.50, 9, 20, 'standard'],
    [11 , 'Boston Crab Meat', 299.75, 30, 20, 'luxury'],
    [12 , 'Chocolade', 140.50, 26, 20, 'standard'],
    [13 , 'Raclette Courdavault', 67.75, 0, 20, 'luxury'],
    [14 , 'Camembert Pierrot', 75.50, 89, 50, 'luxury'],
    [15 , 'Tarte au sucre', 37.75, 0, 20, 'luxury'],
    [16 , 'Louisiana Hot Spiced Okra', 152.00, 98, 40, 'luxury'],
    [17 , 'Laughing Lumberjack Lager', 205.50, 54, 20, 'luxury'],
    [18 , 'Scottish Longbreads', 89.75, 19, 20, 'luxury'],
    [19 , 'Outback Lager', 199.50, 24, 20, 'standard'],
    [20 , 'Rd Kaviar', 299.50, 72, 20, 'luxury']
]

# Opret Dataframe
df_products = pd.DataFrame(produkt_data, columns = ['product_id', 'productname', 'unitprice', 'stock', 'reorder', 'type'])

In [ ]:
df_products

# Export
Export af data til CSV, Excewl og SQL.

I Excel gemmes der én Excel fil, med data fordelt på 4 ark.

I CSV gemmes der til en CSV filer pr. dataframe - altså 4 csv filer.

In [ ]:
# Gem til CSV
if exp_csv:
    df_customers.to_csv('customers.csv', sep=';', index=False)
    df_order.to_csv('order.csv', sep=';', index=False, decimal=',')
    df_employee.to_csv('employees.csv', sep=';', index=False)
    df_products.to_csv('products.csv', sep=';', index=False)

In [ ]:
# Gem til Excel
if exp_excel:
    create_excel = pd.ExcelWriter('sales_data.xlsx', engine='xlsxwriter', date_format='dd-mm-yyyy')

    # Overfør hver DF til Excel
    df_customers.to_excel(create_excel, sheet_name='customers', index=False)
    df_order.to_excel(create_excel, sheet_name='order', index=False)
    df_employee.to_excel(create_excel, sheet_name='employee', index=False)
    df_products.to_excel(create_excel, sheet_name='products', index=False)

    # Gem Excel fil
    create_excel.save()

In [ ]:
# Gem til SQL Script
# Skal afvikles på en MySQL server
#if exp_sql_script:

# sqlalchemy
SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.

https://www.sqlalchemy.org/

In [ ]:
if exp_mysql_azure:
    # Opret forbindelse
    from sqlalchemy import create_engine
    from sqlalchemy_utils import database_exists, create_database

In [ ]:
# Create database hvis den ikke findes
if exp_mysql_azure:
    # Connection
    # Connect
    my_conn = create_engine(f"mysql://{username}:{password}@{host}:{port}")

    with my_conn.connect() as conn:
        conn.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")

    # Vælg database
    my_conn.execute(f"USE {db_name}")

In [ ]:
if exp_mysql_azure:
    # Opret tabeller og overfør data
    # Der er en bug i Pandas der gør at if_exists="replace" ikke virker!!
    # products
    df_products.to_sql('products', my_conn, if_exists="append", index=False)

    # customers
    df_customers.to_sql('customers', my_conn, if_exists='append', index=False)

    # orderlines
    df_order.to_sql('orderlines', my_conn, if_exists='append', index=False)

    # employee
    df_employee.to_sql('employee', my_conn, if_exists='append', index=False)

In [ ]:
# Chack om der er overført data
pd.read_sql("select * from products;", my_conn)